---
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/ui/Button.astro';
import { BRAND } from 'astro:schema';
import Carousel from '../../components/ui/Carousel.astro';
import FlipCard from '../../components/ui/Target.astro';
import ImageFocusGallery from '../../components/ui/ImageFocusGallery.astro';
import CardsNotices from '../../components/ui/CardsNotices.astro';
import { db, News, eq } from 'astro:db';

// Obtener noticias de la Soce con id = 1
const noticias = await db
  .select()
  .from(News)
  .where(eq(News.socesId, 2));

const items = [
  {
    img: '/src/Image/SocMin/Logo_carrera1.png',
    text: 'Carrera de Ingeniería de Minas, Petróleo y Geotecnia',
    text_URL: 'https://www.fni.uto.edu.bo/index.php/ing-minas',
  },
  {
    img: '/src/Image/SocMin/Logo_Soc.png',
    text: 'SoCEIMIN',
    text_URL: 'https://www.facebook.com/profile.php?id=100084975262112#',
  },
];


---

<Layout
  title="SoCEIMIN"
  description="Bienvenido a mi aplicación construida con Astro y las mejores prácticas de desarrollo web"
>
  <!-- ======================= PRESENTACIÓN ======================= -->
  <section class="bg-gradient-to-r from-[#115464] to-indigo-50 py-5">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <div class="flex justify-between items-center">
          <!-- Logo Izquierdo -->
          <img src="/src/Image/UTO.png" alt="Logo izquierdo" class="w-30 h-auto" />
          <h1 class="text-4xl md:text-4xl font-bold text-gray-900 mb-6">
            <span style="color:#000000" class="font-bold">
              Sociedad Científica de Esudiantes <br /> de Ingeniería de Minas
            </span>
          </h1>
          <!-- Logo derecho -->
          <img src="/src/Image/FNI.png" alt="Logo derecho" class="w-30 h-auto" />
        </div>
        <div class="flex gap-8 py-10 text-xl text-[#177DA6] text-justify px-4 leading-relaxed">
          <div class="w-1/2 flex-none space-y-6">
                <h4 class="text-5xl text-[#000000] font-bold text-justify px-4 mb-4">
                    Nuestra Historia
                </h4>
                <p class="text-xl text-[#000000] text-justify px-4 leading-relaxed ">
                    La SOCEIMIN es una organización académica estudiantil de la Facultad Nacional de 
                    Ingeniería de la Universidad Técnica de Oruro. Fue fundada el 23 de agosto de 2017 con 
                    el objetivo de promover y difundir la investigación científica en el área de la minería 
                    y el medio ambiente. Además, busca ser un espacio de formación académica y debate, al 
                    servicio de la comunidad orureña y boliviana.
                </p>
            </div>

          <div class="w-1/2 flex-none">
            <ImageFocusGallery items={items} textColor="text-[#000000]" columnsPerRow={2}/>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- ======================= NOTICIAS ======================= -->
  <section class="bg-white py-10 px-6 sm:px-12 lg:px-16" id="noticias">
    <div class="flex flex-wrap gap-6 items-start">
      <h2 class="w-full text-center text-3xl font-bold text-gray-900 mb-4">
        Noticias
      </h2>
      <!-- Mostrar noticias MINAS -->
      <CardsNotices noticias={noticias} />
    </div>
  </section>

  <!-- ======================= REFERENCIAS / REQUISITOS ======================= -->
  <section class="py-5 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8" >
      
      <div class="bg-purple-50 py-16 px-6">
        <div class="max-w-5xl mx-auto text-center">
          <h2 class="text-4xl font-bold text-purple-900 mb-10">Misión y Visión</h2>
          <div class="grid md:grid-cols-2 gap-8">
            
            <!-- Misión -->
            <div class="bg-white p-8 rounded-xl shadow-md border-t-4 border-purple-300">
              <h3 class="text-2xl font-semibold text-purple-700 mb-4">Nuestra Misión</h3>
              <p class="text-gray-700 leading-relaxed text-justify">
                Fomentar la investigación tecnológica y científica, impulsando actividades 
                académicas dentro de la carrera de Ingeniería de Minas, Petróleo y Geotecnia, 
                con participación activa de los estudiantes en el proceso de enseñanza-aprendizaje.
              </p>
            </div>
            
            <!-- Visión -->
            <div class="bg-white p-8 rounded-xl shadow-md border-t-4 border-purple-300">
              <h3 class="text-2xl font-semibold text-purple-700 mb-4">Nuestra Visión</h3>
              <p class="text-gray-700 leading-relaxed text-justify">
                Convertirse en una institución referente en investigación y formación, comprometida 
                socialmente y promotora de ideas innovadoras, fortaleciendo el desarrollo profesional de 
                sus miembros dentro del área de minas, petróleo y geotecnia. 
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class=" bg-white py-5">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8" >
      <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">¿Cómo ser parte?</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="text-center p-6">
            <div
              class="w-12 h-12 bg-blue-100 rounded-lg mx-auto mb-4 flex items-center justify-center"
            >
              <svg
                class="w-12 h-12 text-blue-600"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"
                ></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 3v6h6"
                ></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6"
                ></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6"
                ></path>
              </svg>
            </div>
            <h3 class="text-xl font-semibold text-gray-900 mb-2">Matricula Universitaria</h3>
            <p class="text-gray-600">
              Presenta tu matricula del semestre actual, la cual se puede descargar de:
              <br /><a class="text-blue-600 hover:underline" href="https://matricula.uto.edu.bo/">
                Consulta Matricula U.T.O.</a
              >
            </p>
          </div>

          <div class="text-center p-6">
            <div
              class="w-12 h-12 bg-green-100 rounded-lg mx-auto mb-4 flex items-center justify-center"
            >
              <svg
                class="w-12 h-12 text-blue-600"
                fill="none"
                viewBox="0 0 64 64"
                stroke="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <!-- Borde del carnet -->
                <rect
                  x="4"
                  y="8"
                  width="56"
                  height="48"
                  rx="4"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"></rect>
                <!-- Silueta del usuario -->
                <circle cx="20" cy="28" r="6" stroke-width="2" stroke="currentColor" fill="none"
                ></circle>
                <path
                  d="M14 40c0-4 4-6 6-6s6 2 6 6"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"></path>
                <!-- Líneas de texto -->
                <line x1="34" y1="22" x2="50" y2="22" stroke-width="2" stroke="currentColor"></line>
                <line x1="34" y1="30" x2="50" y2="30" stroke-width="2" stroke="currentColor"></line>
                <line x1="34" y1="38" x2="50" y2="38" stroke-width="2" stroke="currentColor"></line>
              </svg>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </div>
              <h3 class="text-xl font-semibold text-gray-900 mb-2">
                Carnet de Identidad <br /> o <br />Carnet Universitario
              </h3>
              <p class="text-gray-600">
                Cualquiera de los documento para poder identificarte junto con la matricula
              </p>           
          </div>
            <div class="text-center p-6">
              <div
                class="w-12 h-12 bg-purple-100 rounded-lg mx-auto mb-4 flex items-center justify-center"
              >
                <svg
                  class="w-12 h-12 text-blue-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="3"
                    y="3"
                    width="18"
                    height="18"
                    rx="2"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"></rect>
                  <line x1="7" y1="8" x2="17" y2="8" stroke-width="2" stroke="currentColor"></line>
                  <line x1="7" y1="12" x2="17" y2="12" stroke-width="2" stroke="currentColor"></line>
                  <line x1="7" y1="16" x2="13" y2="16" stroke-width="2" stroke="currentColor"></line>
                </svg>
              </div>
              <h3 class="text-xl font-semibold text-gray-900 mb-2">Formulario de Inscripcion</h3>
              <p class="text-gray-600">
                Formulario de no participación de alguna entidad políitica y/o partidaria de algun
                centro facultativo o de carrera
                <br /><a class="text-blue-600 hover:underline" href="https://docs.google.com/spreadsheets/d/1FtsuWQa7_OlWuXJzL_LDw1zUMV1zT7FC/edit?usp=drive_link&ouid=104725137215055273039&rtpof=true&sd=true">
                  Formulario de Inscripcion</a
                >
              </p>
            </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
