---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
import { BRAND } from 'astro:schema';
import Carousel from '../components/ui/Carousel.astro';
import CardsNotices from '../components/ui/CardsNotices.astro';
import FlipCard from '../components/ui/Target.astro';
import { db, News, eq } from 'astro:db';

// Obtener noticias de la Soce con id = 1
const noticias = await db
  .select()
  .from(News)
  .where(eq(News.socesId, 1));



//carrusell
const modules = import.meta.glob('../Image/FilArt/*.{png,jpg,jpeg,gif}', { eager: true });

const images = Object.values(modules)
  .map(mod => {
    if (typeof mod === 'string') return { src: mod };
    if (mod && typeof mod === 'object' && 'default' in mod) return mod.default;
    if (mod && typeof mod === 'object' && 'src' in mod) return mod;
    return null;
  })
  .filter(Boolean);
---


<Layout
  title="OSCES - FNI"
  description="Bienvenido a mi aplicación construida con Astro y las mejores prácticas de desarrollo web"
>
  <!-- ======================= PRESENTACIÓN ======================= -->
  <section class="bg-gradient-to-r from-blue-300 to-indigo-50 py-5">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <div class="flex justify-between items-center ">
           <!-- Logo Izquierdo -->
          <img src="/src/Image/FNI.png" alt="Logo izquierdo" class="w-30 h-auto">
          <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6">
            Bienvenido a las <br>
            <span style="color:#023059">Sociedades Científicas de la F.N.I.</span>
          </h1>
           <!-- Logo derecho -->
          <img src="/src/Image/OSCE.png" alt="Logo derecho" class="w-50 h-auto">
        </div>

        <div class="flex gap-6 items-center py-5">
          <div class="w-3/5 flex-none">
            <p class="text-xl text-gray-800 text-justify px-4">
              Las sociedades científicas contribuyen al desarrollo estudiantil y al desarrollo profesional
              forjando jóvenes con ganas de aprender y que tengan la valentía de sobresalir entre todos los demás.
              <br><br>Por ello, la Facultad Nacional de Ingeniería de la Universidad Técnica de Oruro comprende con 11 
              sociedades científicas actualmente, las cuales son representadas por la Organización de Sociedades Científicas de Estudiantes de la F.N.I. (OSCE-FNI)
            </p>            
          </div>
          <div class="w-2/5 flex-none ">
             <Carousel images={images} /></Carousel>
          </div> 
        </div>
        
      </div>
    </div>
  </section>

  <!-- ======================= HISTORIA ======================= -->
  <section class="py-5 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-16 py-4">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Historia</h2>
        <p class="text-2xl  text-gray-600 text-justify mx-auto py-4 ">
          La Organización de Sociedades Científicas Estudiantiles (OSCE-FNI) fue creada hace 
          algunos años con el propósito de unificar y coordinar todas las sociedades científicas 
          pertenecientes a la Facultad Nacional de Ingeniería (FNI). Su objetivo principal es modernizar 
          y reestructurar el enfoque tradicional, muchas veces fragmentado y desactualizado, que existía 
          en la gestión y funcionamiento de estas sociedades.
        </p>
        <p class="text-2xl text-gray-600  text-justify mx-auto">
          A través de OSCE-FNI, se busca fomentar la colaboración entre las diferentes sociedades, 
          potenciar el desarrollo académico y científico de los estudiantes, así como promover actividades 
          conjuntas que enriquezcan la formación integral dentro de la facultad. Esta organización actúa como 
          un ente rector que facilita la comunicación, planificación y ejecución de proyectos que beneficien 
          a toda la comunidad estudiantil de la FNI, promoviendo un sentido de pertenencia, innovación y trabajo 
          en equipo.
        </p>
      </div>
    </div>
  </section>

  <!-- ======================= AUTORIDADES ======================= -->
  <section class=" bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">      
      <div class="text-center mb-16" id="direc">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Nuestras Autoridades</h2>
        <div class="flex flex-wrap justify-center gap-6">
          <FlipCard 
            name="M.Sc. Ing. Pedro Román Vallejos Mamani"
            role="Director de la Dirección de Investigación Científica y Tecnolófica U.T.O. (DICyT)"
            biografia=""
            email=""
            phone="+591 72462547"
            photo="src/Image/Im_Inicio/Dicyt.jpg"

          />
          <FlipCard 
            name="M.Sc. Ing. Ramiro Franz Aliendre García"
            role="Decano de la Facultad Nacional de Ingeniería"
            biografia="Especialista en control automatico de procesos y automatizacion industrial. Participó en pasantias de investigación en la Universidade Federal de Santa Catarina, Florianópolis, Brasil y la Technical University of Delft, Delft, Holanda. Disertante en varias universidades e industrias del extranjero. Consultor internacional en Control Automatico y Automatización Industrial. Par evaluador internacional de carreras de ingeniería."
            email=""
            phone=""
            photo="src/Image/Im_Inicio/Decano.jpg"

          /> 
          <FlipCard 
            name="M.Sc. Ing. Miguel Alejandro Ruíz"
            role="Vicedecano de la Facultad Nacional de Ingeniería"
            biografia=""
            email=""
            phone=""
            photo="src/Image/Im_Inicio/Vicedecano.jpg"

          />  
          <FlipCard 
            name="Ph.D. Ing. Amilkar Ernesto Ilaya Ayza"
            role="Director de Dirección de Postgradi e Investigación Científica F.N.I. (DPIC - FNI)"
            biografia={[
                  "El Dr.Ing. Amilkar Ernesto Ilaya Ayza es ingeniero civil de la Facultad Nacional de Ingeniería de la Universidad Técnica de Oruro y Doctor en Ingeniería del Agua y Medioambiental de la Universidad Politécnica de Valencia (España), donde su tesis doctoral fue distinguida con la calificación máxima: sobresaliente, “Cum Laude”. Su formación incluye además tres maestrías relacionadas con la gestión del agua, hidráulica y tecnologías de protección ambiental. También posee una especialidad en sistemas de posicionamiento por satélite (GPS), realizada en la Universidad Politécnica de Madrid, y diplomados en Sistemas de Información Geográfica (SIG) y en Administración Pedagógica del Aula en Educación Superior.",
                  "Es autor de varios artículos científicos publicados en revistas científicas de alto impacto, contribuyendo al avance del conocimiento en áreas como el diseño de redes hidráulicas, el suministro intermitente de agua y la optimización de sistemas de distribución. Ha presentado sus investigaciones en congresos internacionales realizados en España, Francia, México, Brasil, Cuba y Perú, y participa como revisor en prestigiosas revistas científicas internacionales.",
                  "Ha trabajado en el diseño, construcción, supervisión y fiscalización de obras hidráulicas, sistemas de agua potable, alcantarillado y riego, principalmente. Asimismo, formó parte del personal técnico del Servicio Local de Acueductos y Alcantarillado de Oruro. ",
                  "Tiene una participación activa en el desarrollo de normas técnicas y en la formación de profesionales en ingeniería civil. Fue docente en la Universidad Mayor de San Andrés (La Paz) y la Universidad Católica Boliviana San Pablo (La Paz). Actualmente es profesor de postgrado y docente de la Carrera de Ingeniería Civil y del Departamento de Matemáticas de la Facultad Nacional de Ingeniería de la Universidad Técnica de Oruro.",
            ]}
            email=""
            phone=""
            photo="src/Image/Im_Inicio/Depic.jpeg"

          />
          <FlipCard 
            name="Univ. Rodrigo Ledezma"
            role="Presidente de la Organización de Sociedades Científicas de la F.N.I. (O.S.C.E. - FNI)"
            biografia=""
            email=""
            phone="+591 71857038"
            photo=""

          />                     
        </div>

        
      </div>

  </section>

  <!-- ======================= NOTICIAS ======================= -->

<section class="bg-white py-10 px-6 sm:px-12 lg:px-16" id="noticias">
  <div class="flex flex-wrap gap-6 items-start">
    <h2 class="w-full text-center text-3xl font-bold text-gray-900 mb-4">
      Noticias 
    </h2>
    <!-- Mostrar noticias OSCE -->
    <CardsNotices noticias={noticias} />
  </div>
</section>




</Layout>
